body{
    background-color: #fff;
    

}
div,a{
    padding: 10px;
    margin: 30px;
    color:#fff;
    background-color: rgb(201, 25, 77);
}
div,p{
    font-size: 40px;
    font-family: cursive;
    text-align:center;
}



h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
}
